* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 300px;
    margin: 0 auto;
}

.etch-a-sketch {
    margin: 80px auto;
    width: 700px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: darkred;
    padding: 40px 100px;
    border-radius: 10px;
}

.container {
    flex-shrink: 0;
    width: 480px;
    height: 480px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    background-color: white;
}