* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: azure;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
}

button {
    padding: 10px 30px;
    border: none;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: 0.6s;
}

button:hover {
    background-color: gray;
}

.etch-a-sketch {
    margin: 80px auto;
    width: 700px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: darkred;
    padding: 40px 100px;
    border-radius: 10px;
}

.container {
    flex-shrink: 0;
    width: 550px;
    /* height: 480px; */
    background-color: white;
    filter: drop-shadow(0 0 0.75rem white);
    display: flex;
    flex-wrap: wrap;
}

.container div {
    background-color: white;
}